@model MvcVeterinaria.Models.Veterinario
@{
    Layout=null;
}
<h1>Details</h1>

<div>
    <h4>Veterinario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experiencia)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradoAcademico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradoAcademico)
        </dd>
    </dl>
</div>